PORT=3000
EMAIL=user@example.com
NAME="Your Name"
MOBILE=9999999999
ROLL_NO=YOUR_ROLL_NO
ACCESS_CODE=YOUR_ACCESS_CODE
GITHUB_USERNAME=yourgithub
BASE_URL=http://evaluation-server-url

# Auto-filled by /auth/register
CLIENT_ID=
CLIENT_SECRET=
BEARER_TOKEN=
