PORT=3000
AFFORD_EMAIL=pt4592@srmist.edu.in
AFFORD_NAME="Pratyush Tripathi"
AFFORD_MOBILE=9335095085
AFFORD_ROLL_NO=RA2311003010573
AFFORD_ACCESS_CODE=QkbpxH
GITHUB_USERNAME=Tripathi_Pratyush4592
AFFORD_BASE_URL=http://evaluation-server-url

# Optional, filled automatically by the /auth/register flow
AFFORD_CLIENT_ID=
AFFORD_CLIENT_SECRET=
AFFORD_BEARER_TOKEN=
